* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ff1c1c;
}

.search {
    display: flex;
    margin-bottom: 20px;
}

#pokemonName {
    flex: 1;
    padding: 10px;
    border: 2px solid #ff1c1c;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#searchButton {
    padding: 10px;
    border: 2px solid #ff1c1c;
    background-color: #ff1c1c;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

#searchButton:hover {
    background-color: #e60000;
}

.pokemon-data {
    text-align: left;
}

.pokemon-data img {
    display: block;
    margin: 0 auto 20px auto;
    width: 150px;
    height: 150px;
}

.pokemon-data h2 {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.pokemon-data .info {
    margin-bottom: 10px;
}

.type {
    display: inline-block;
    background-color: #ff1c1c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    text-transform: capitalize;
    margin-right: 5px;
    font-size: 0.9em;
}

.error {
    color: red;
    text-align: center;
}
